
<EditForm Model="@clienteFormDTO" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row">
        <div class="col-md-4">
            @if (clienteFormDTO.IdCliente != null)
            {
                <div class="form-group">
                    <label class="form-control"><b>Id Cliente - </b>@clienteFormDTO.IdCliente</label>
                </div>
            }
            <div class="form-group">
                <label class="control-label" form="nome"><b>Nome Completo</b></label>
                <InputText @bind-Value="clienteFormDTO.Nome" class="form-control" placeholder="obrigatório" />
                <ValidationMessage For="@(() => clienteFormDTO.Nome)" />
            </div>
            <div class="form-group">
                <label form="cpf" class="control-label"><b>CPF</b></label>
                <InputText @bind-Value="clienteFormDTO.CPF" class="form-control" placeholder="CPF obrigatório" />
                <ValidationMessage For="@(() => clienteFormDTO.Nome)" />
            </div>
            <div class="form-group">
                <label class="control-label"><b>Sexo</b></label>
                <InputSelect @bind-Value="clienteFormDTO.Sexo" class="form-control">
                    <option value="Outro">Outro</option>
                    <option value="Feminino">Feminino</option>
                    <option value="Masculino">Masculino</option>
                </InputSelect>
            </div>
            <div class="form-group">
                <label form="tipocliente" class="control-label"><b>Tipo de cliente</b></label>
                <InputSelect @bind-Value="clienteFormDTO.IdTipoCliente" class="form-control">
                    <option value="0">Selecione</option>
                    <option value="1">Pragmático</option>
                    <option value="2">Analítico</option>
                    <option value="3">Afável</option>
                    <option value="4">Expressivo</option>
                </InputSelect>
            </div>
            <div class="form-group">
                <label form="situacaocliente" class="control-label"><b>Situação de cadastro</b></label>
                <InputSelect @bind-Value="clienteFormDTO.IdSituacaoCliente" class="form-control">
                    <option value="0">Selecione</option>
                    <option value="1">Ativo</option>
                    <option value="2">Inativo</option>
                </InputSelect>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Salvar</button>
                <button type="reset" class="btn btn-danger" @onclick="@(() => navigation.NavigateTo("listarclientes"))">Cancelar</button>
            </div>

        </div>
    </div>

</EditForm>

@code {
    [Inject]
    private NavigationManager navigation { get; set; }
    [Inject]
    private ICliente _clienteService { get; set; }
    [Parameter]
    public ClienteFormDTO clienteFormDTO { get; set; }
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}
